.inventory-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.category-grid {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-content: center;
}

.category {
    vertical-align: text-top;
    border: 1px solid black;
}

.category-name {
    text-align: center;
}


.inventory-items {
    text-align: left;
    list-style-type: none;
    font-weight: 500;
}

.add-inventory {
    display: inline-block;
}