<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

    {% block head %}
    {% endblock %}

    <title>Homepage</title>
</head>
<body>
    <header>
        <h1 class="logo">
            <a href="/home">RCMP</a>
        </h1>
    </header>
    
    <nav>
        <div class="all-links">
            <span class="nav-link">
                <a href="/Kitchen-Inventory">Kitchen Inventory</a>
            </span>
            <span class="nav-link">
                <a href="#Rn">Randomizers</a>
            </span>
            <span class="nav-link">
                <a href="#RC">Recipes</a>
            </span>
            <span class="nav-link">
                <a href="#Sp">Shopping</a>
            </span>
            <span class="nav-link">
                <a href="#PF">Profile</a>
            </span>
        </div>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 RCMP</p>
    </footer>
</body>
</html>