{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="../static/css/inventory.css">
{% endblock %}
    
{% block content %}
    <fieldset class="inventory-display">
        <legend class="page-title">
            <h1>My Kitchen Inventory</h1>
        </legend>

        
        <div class="category-grid">
            <div class="category">
                <h2>Produce</h2>
                <ul class="inventory-items">
                    {% for items in data['produce'] %}

                    <li>{{  items  }}</li>

                    {% endfor %}
                </ul>
            </div>
            
            <div class="category">
                <h2>Dairy and Eggs</h2>
                <ul class="inventory-items">
                    {% for items in data['dairy_eggs'] %}

                    <li>{{  items  }}</li>

                    {% endfor %}
                </ul>
            </div>
            
            <div class="category">
                <h2>Meat and Poultry</h2>
                <ul class="inventory-items">
                    {% for items in data['meat_poultry'] %}

                    <li>{{  items  }}</li>

                    {% endfor %}
                </ul>
            </div>
            
            <div class="category">
                <h2>Seafood</h2>
                <ul class="inventory-items">
                    {% for items in data['seafood'] %}

                    <li>{{  items  }}</li>

                    {% endfor %}
                </ul>
            </div>
            
            <div class="category">
                <h2>Frozen</h2>
                <ul class="inventory-items">
                    {% for items in data['frozen'] %}

                    <li>{{  items  }}</li>

                    {% endfor %}
                </ul>
            </div>
        </div>
        
        <div class="category-grid">
            <div class="category">
                <h2>Bread and Bakery</h2>
                <ul class="inventory-items">
                    {% for items in data['bread_bakery'] %}

                    <li>{{  items  }}</li>

                    {% endfor %}
                </ul>
        </div>
    
        <div class="category">
            <h2>Pantry Staples</h2>
            <ul class="inventory-items">
                {% for items in data['pantry'] %}

                <li>{{  items  }}</li>

                {% endfor %}
            </ul>
        </div>
        
        <div class="category">
            <h2>Spices and Sauces</h2>
            <ul class="inventory-items">
                {% for items in data['sauces_spices'] %}

                <li>{{  items  }}</li>

                {% endfor %}
            </ul>
        </div>
        
        <div class="category">
            <h2>Snacks</h2>
            <ul class="inventory-items">
                {% for items in data['snacks'] %}

                <li>{{  items  }}</li>

                {% endfor %}
            </ul>
        </div>
        
        <div class="category">
            <h2>Beverages</h2>
            <ul class="inventory-items">
                {% for items in data['beverages'] %}

                <li>{{  items  }}</li>

                {% endfor %}
            </ul>
        </div>
    </fieldset>
    
    <div class="add-inventory">
        <fieldset>
            <legend>
                <h3>Add To Inventory</h3>
            </legend>
            
            <!-- add in redirect page -->
            <form action="/add_inventory" method="post">
                <select name="add-inv">
                    <option value="Individual">Add by Section</option>
                    <option value="CSV">Upload CSV</option>
                </select>

                <input type="submit" value="Go">
            </form>
        </fieldset>
    </div>

{% endblock %}
